@import url("https://use.typekit.net/kgs7lub.css");

.hide {
  display: none;
}
html {
  background-color: #005723;
  background-image: url("https://www.transparenttextures.com/patterns/pool-table.png");
}

h1 {
  margin: 20px 0;
  text-align: center;
  font-family: sauna-new, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12vw;
}

h2 {
  font-family: sauna-new, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 9vw;
  margin-top: 0;
}

h3.name,
h3.quantity {
  transition: 0.7s;
  font-family: sarina, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
}

button {
  cursor: pointer;
  font-family: bureau-grot-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  height: auto;
  width: 31vw;
  padding: 10px 5px;
  border-radius: 8px;
  font-size: 4vw;
  background-color: #fba301;
  border: solid 3px;
  transition: 0.5s;
}

input[type="submit"] {
  font-family: bureau-grot-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px 5px;
  border-radius: 8px;
  font-size: 4vw;
  background-color: #fba301;
  border: solid 2px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.5s;
}

label {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 400;
  font-style: italic;
}

input[type="text"] {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 400;
  font-style: normal;
}

form > div {
  margin: 15px 0;
}

li.listingInEdit {
  margin: 0;
  margin-bottom: 10px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 2.5fr 1.1fr 1.1fr;
  grid-gap: 5px;
  grid-template-areas: "naming edit delete";
  align-items: center;
}

button.edit {
  grid-area: edit;
  background-color: #09ab4a;
}
button.delete {
  grid-area: delete;
  background-color: #970606;
}
h5 {
  grid-area: naming;
  transition: 0.7s;
  font-family: sarina, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
}

button.edit,
button.delete {
  font-size: 3vw;
  padding: 7px 3px;
  width: auto;
}

#button-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.addBTN {
  margin: 0 auto;
}

.editBTN {
  margin: 0 auto;
}
article.sheet {
  padding: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/double-lined.png");
  margin: 2em;
  box-shadow: 5px 5px 5px 3px black;
}
ul {
  padding: 0;
}
li.item {
  margin: 15px 0;
  cursor: pointer;
  list-style: none;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "item quantity";
  align-items: center;
}
.name-wrap {
  grid-area: item;
}
input.bought:disabled {
  display: inline-block;
  visibility: hidden;
  display: none;
}
h3.name {
  display: inline-block;
}
h3.quantity {
  grid-area: quantity;
  justify-self: end;
}

li * {
  margin: 0;
}
.item_bought {
  text-decoration: line-through red wavy;
}

.bg-modal {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-content {
  background-color: #ffffff;
  background-image: url(https://www.transparenttextures.com/patterns/double-lined.png);
  overflow-y: auto;
  max-height: 80%;
  max-width: 100%;
  margin: 10% 10%;
  padding: 1em 2em;
  padding-top: 2em;
  position: relative;
  background-color: white;
}

#close {
  border: none;
  color: white;
  background-color: darkred;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  border-radius: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
#close:hover:enabled {
  background-color: #d20404;
}
button:hover:enabled,
input[type="submit"]:hover {
  background-color: #ffd900;
}

button:active:enabled,
input[type="submit"]:active {
  background-color: #bb920b;
}

button.delete:hover:enabled {
  background-color: #ff0000;
}

button.edit:hover:enabled {
  background-color: #0ae461;
}

@media screen and (min-width: 1024px) {
  article.sheet {
    margin: 5em 14vw;
  }
  h1 {
    font-size: 6vw;
  }
  button {
    font-size: 2vw;
    width: 12vw;
  }
  #button-menu {
    grid-gap: 20px;
  }
  .addBTN {
    justify-self: end;
    margin: 0;
  }
  .editBTN {
    justify-self: start;
    margin: 0;
  }
  h3.name,
  h3.quantity {
    font-size: 4vw;
  }
  .modal-content {
    margin-right: 24vw;
    margin-left: 24vw;
    max-height: 65%;
  }
  h2 {
    font-size: 4vw;
  }
  input[type="submit"] {
    font-size: 1.5vw;
  }
  h5 {
    font-size: 2.4vw;
  }
  button.edit,
  button.delete {
    font-size: 2vw;
    padding: 5px 0px;
  }
}
